openpyxl
beautifulsoup4
requests
pandas
tqdm
sentence-transformers
faiss-cpu
rank_bm25
fastapi
uvicorn
pydantic
streamlit
selenium
google-generativeai
scikit-learn
uvicorn
numpy
torch
transformers
datasets
evaluate
sentencepiece
python-multipart
python-dotenv
